/* Products Section */
.products-section {
  padding: 60px 20px;
  text-align: center;
}

.products-section .subtitle {
  font-size: 1rem;
  color: #888;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product-item {
  background: #fff;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.product-item img {
  max-width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-item p {
  color: #000;
  margin-top: 10px;
  font-weight: 600;
}

.product-item span {
  color: #a0823c;
}

@media (max-width: 767px) {
  /* Atur layout untuk mobile */
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Atur layout untuk tablet */
}

@media (min-width: 1024px) {
  /* Default layout untuk desktop */
}
